<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login To cyberwatch</title>
</head>
<body>
	<form th:action="@{/login}" th:object="${loginForm}" method="post">
	
		<label for="username">UserName</label> 
		<input type="text" id="username" name="username" th:field="*{username}"/> <br>
		
		 <label for="password">Password</label>
		  <input type="text" id="password" name="password" th:field="*{password}" /> <br> 
		  
		  <input type="submit" value="LoginIn">
	</form>
</body>
</html>